
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <style>
        body {
            font-family: 'Copenhagen Grotesk Nova Light', sans-serif;
        }
        table {
            width: 100% !important;
            border-collapse: collapse !important; 
            border: none !important;
            margin-bottom: 20px !important;
        }
        .table-header {
            width: 100% !important;
            border-collapse: collapse !important; 
            border: none !important;
            margin-bottom: 5px !important;
        }
        th, td {
            padding: 3px !important;
            /* text-align: left; */
            border-style: hidden !important;
            font-size: 15px !important;
        }

        .icon-cell {
            width: 30px;
        }
        .company-name, .website a {
            text-decoration: underline;
        }
        .work-dates a {
          text-align: right !important;
          width: 300px !important;
        }
    </style>
</head>
<body>
  <!-- <tr>
    <th class="icon-cell"></th>
    <th>Company Name</th>
    <th>Position</th>
    <th>Duration</th>
    <th>Website</th>
  </tr> -->
<table>
  <tr>
  <table-header>
    <tr>
      <td><em><p style="font-size:18px;position:relative;top:10px">Current</p></em></td>
    </tr>
  </table-header>
  <table>
  </tr>
    <tr>
      <td class="icon-cell"><a href="https://content.sph.harvard.edu/xlin/" title="HSPH"><img src="assets/img/thchan_icon.png" width="17"></a></td>
      <td class="company-name">HSPH</td>
      <td></td>
      <td>Researcher, Xihong Lin Lab @ Harvard</td>
      <td align="right">2022 - Present</td>
      <td></td>
      <td></td>
      <td class="website"><a href="https://www.hsph.harvard.edu/lin-lab/">hsph.harvard.edu/lin-lab/</a></td>
    </tr>
  </table>
  
  <tr>
  <table-header>
    <tr>
      <td><em><p style="font-size:18px;position:relative;top:10px">Former</p></em></td>
    </tr>
  </table-header>
  <table>
  </tr>
    <tr>
        <td class="icon-cell"><a href="https://www.regeneron.com/" title="Regeneron"><img src="assets/img/regeneron_icon.png" width="20"></a></td>
        <td class="company-name">Regeneron</td>
        <td style="width:1%"></td>
        <td>Intern, Regeneron Genetics Center</td>
        <td align="right" style="width:15%">2023 - 2023 </td>
        <td></td>
        <td></td>
        <td class="website"><a href="https://www.regeneron.com/">regeneron.com</a></td>
    </tr>
    <tr>
      <td class="icon-cell"><a href="https://www.biotia.io/" title="Biotia"><img src="assets/img/biotia_icon.png" width="22"></a></td>
      <td class="company-name">Biotia</td>
      <td></td>
      <td>Bioinformatics Consultant</td>
      <td align="right">2022 - 2023 </td>
      <td></td>
      <td></td>
      <td class="website"><a href="https://www.biotia.io/">biotia.io</a></td>
    </tr>
    <!-- <tr>
      <td class="icon-cell"><a href="https://www.preverna.com/" title="Preverna"><img src="assets/img/preverna_icon.png" width="20"></a></td>
      <td class="company-name">Preverna</td>
      <td></td>
      <td>Data Scientist, Computational genomics</td>
      <td align="right">2021 - 2022 </td>
      <td></td>
      <td></td>
      <td class="website"><a href="https://www.preverna.com/">preverna.com</a></td>
    </tr> -->
    <tr>
      <td class="icon-cell"><a href="https://www.kwiatkowskilab.org/" title="BWH"><img src="assets/img/bwh_icon.png" width="18"></a></td>
      <td class="company-name">BWH</td>
      <td></td>
      <td>Researcher, Kwiatkowski Lab @ Harvard</td>
      <td align="right">2020 - 2022 </td>
      <td></td>
      <td></td>
      <td class="website"><a href="https://www.kwiatkowskilab.org/">kwiatkowskilab.org</a></td>
    </tr>
    <tr>
      <td class="icon-cell"><a href="http://web.mit.edu/manoli/" title="MIT"><img src="assets/img/mit_icon.png" width="20"></a></td>
      <td class="company-name">MIT CSAIL</td>
      <td></td>
      <td>Research Student, Manolis Kellis Lab @ MIT (6.047) </td>
      <td align="right">2021 - 2021 </td>
      <td></td>
      <td></td>
      <td class="website"><a href="http://web.mit.edu/manoli/">web.mit.edu/manoli</a></td>
    </tr>
    <tr>
      <td class="icon-cell"><a href="https://www.deboramarkslab.com/" title="HMS"><img src="assets/img/hms_icon.png" width="17"></a></td>
      <td class="company-name">HMS</td>
      <td></td>
      <td>Researcher, Debora Marks Lab @ Harvard</td>
      <td align="right">2019 - 2020 </td>
      <td></td>
      <td></td>
      <td class="website"><a href="https://www.deboramarkslab.com/">deboramarkslab.com</a></td>
    </tr>
    <!-- <tr>
      <td class="icon-cell"><a href="https://www7.lawrence.edu/academics/study/biology/collaborative/brian_piasecki" title="Lawrence"><img src="assets/img/lawrence_icon.png" width="20"></a></td>
      <td class="company-name">Lawrence</td>
      <td></td>
      <td>Researcher, Brian Piasecki Lab @ Lawrence</td>
      <td align="right">2017 - 2018 </td>
      <td></td>
      <td></td>
      <td class="website"><a href="https://www7.lawrence.edu/academics/study/biology/collaborative/brian_piasecki">lawrence.edu</a></td>
    </tr> -->
  </table>
  <tr>
  <table-header>
    <tr>
      <td><em><p style="font-size:18px;position:relative;top:10px">Teaching</p></em></td>
    </tr>
  </table-header>
  <table>
    <tr>
      <td class="icon-cell"><a href="" title="STAT 117"><img src="assets/img/fas_icon.png" width="20"></a></td>
      <td class="company-name">STAT 117</td>
      <td></td>
      <td>Teaching Fellow, Statistics Dept. (Harvard)</td>
      <td align="right">Spring 2024</td>
      <td></td>
      <td></td>
      <td class="website"><a href="https://statistics.fas.harvard.edu/statistics-courses">harvard.edu/statistics-courses</a></td>
    </tr>
    <tr>
      <td class="icon-cell"><a href="" title="STAT 110"><img src="assets/img/fas_icon.png" width="20"></a></td>
      <td class="company-name">STAT 110</td>
      <td></td>
      <td>Teaching Fellow, Statistics Dept. (Harvard)</td>
      <td align="right">Fall 2023</td>
      <td></td>
      <td></td>
      <td class="website"><a href="https://projects.iq.harvard.edu/stat110/home">harvard.edu/stat110</a></td>
    </tr>
    <tr>
      <td class="icon-cell"><a href="" title="STAT 185"><img src="assets/img/fas_icon.png" width="20"></a></td>
      <td class="company-name">STAT 185</td>
      <td></td>
      <td>Teaching Fellow, Statistics Dept. (Harvard)</td>
      <td align="right">Fall 2023</td>
      <td></td>
      <td></td>
      <td class="website"><a href="https://statistics.fas.harvard.edu/statistics-courses">harvard.edu/statistics-courses</a></td>
    </tr>
    <tr>
      <td class="icon-cell"><a href="" title="STAT 111"><img src="assets/img/fas_icon.png" width="20"></a></td>
      <td class="company-name">STAT 111</td>
      <td></td>
      <td>Teaching Fellow, Statistics Dept. (Harvard)</td>
      <td align="right">Spring 2023</td>
      <td></td>
      <td></td>
      <td class="website"><a href="https://statistics.fas.harvard.edu/statistics-courses">harvard.edu/statistics-courses</a></td>
    </tr>
    <tr>
      <td class="icon-cell"><a href="" title="MCB 112"><img src="assets/img/mcb_icon.png" width="20"></a></td>
      <td class="company-name">MCB 112</td>
      <td></td>
      <td>Course Assistant, MCB Dept. (Harvard)</td>
      <td align="right">Fall 2022</td>
      <td></td>
      <td></td>
      <td class="website"><a href="http://mcb112.org/">mcb112.org</a></td>
    </tr>
  </table>
  </tr>
</table>
</body>
</html>
