<!DOCTYPE html>
<html>
<head>
    <style>
        @media only screen and (max-width: 700px) { /* Adjust the breakpoint as needed */
            .project-item {
                flex-direction: column;
            }
            .project-item img {
                order: -1; /* This moves the image above the text */
                width: 90%; /* Adjust the width of the image as needed */
                align-self: center;
                margin-bottom: 20px;
                position: relative;
                top: 0;
            }
        }
    </style>
</head>
<body>
    <div class="project-item" style="display: flex; align-items: start; position: relative; top: 15px; gap: 20px;">
      <div>
        <span style="font-size:20px;font-weight:bold;">Disease Risk Prediction</span> <small class="whitespace-nowrap text-neutral-500 text-base font-normal" style = "color:rgb(114, 114, 114);font-size:15px;font-style:italic"> Ongoing @ Lin Lab</small>
        <h5 style="font-family: 'Copenhagen Grotesk Nova Light', sans-serif; font-size:16px;">Developing polygenic risk scores for correlated data structures.</h5>
        <p style="font-family: 'Copenhagen Grotesk Nova Light', sans-serif; font-size:15px;"> We introduce a unified statistical framework for polygenic risk score prediction in the presence of correlated data, leveraging mixed effects modeling. We are evaluating the performance of this new approach via simulation across several genetic architectures. We further apply our approach to compute PRS for common complex diseases in the UK Biobank and demonstrate the potential of our method for clinical translation of polygenic prediction.</p>
        <p style="font-family: 'Copenhagen Grotesk Nova Light', sans-serif; font-size:15px;">Links: <a href="https://github.com/your-link-here">GitHub</a>, <a href="https://your-website.com">Website</a></p>
      </div>
      <img src="assets/img/PRS_cover.png" alt="Dispict preview image" class="border" width="250" style="position:relative; top:20px">
    </div>
    <hr>

    <div class="project-item" style="display: flex; align-items: start; position: relative; top: 15px; gap: 20px;">
      <div>
        <span style="font-size:20px;font-weight:bold;">Deep learning for AD diagnosis   </span> <small class="whitespace-nowrap text-neutral-500 text-base font-normal" style = "color:rgb(114, 114, 114);font-size:15px;font-style:italic"> November 2021</small>
        <h5 style="font-family: 'Copenhagen Grotesk Nova Light', sans-serif; font-size:16px;">Integrating multiple data modalities for accurate diagnosis.</h5>
        <p style="font-family: 'Copenhagen Grotesk Nova Light', sans-serif; font-size:15px;">Applying deep learning techniques to to predict Alzheimer's disease (AD) onset and progression from genetic, neuroimaging, and clinical data to facilitate rapid and precise diagnosis. We employ XGBoost models to select important genomic features, build 3D convolutional neural network (CNN) for MRI data, and design a classifier to combine retained features from both models with clinical information. With a focus on accuracy and predictive capabilities, the method shows promise for early detection.</p>
        <p style="font-family: 'Copenhagen Grotesk Nova Light', sans-serif; font-size:15px;">Links: <a href="https://github.com/your-link-here">GitHub</a>, <a href="https://your-website.com">Website</a></p>
      </div>
      <img src="assets/img/DL_AD_cover.png" alt="Dispict preview image" class="border" width="250" style="position:relative; top:20px">
    </div>
    <hr>
    
    <div class="project-item" style="display: flex; align-items: start; position: relative; top: 15px; gap: 20px;">
      <div>
        <span style="font-size:20px;font-weight:bold;">Latent Regression Analysis   </span> <small class="whitespace-nowrap text-neutral-500 text-base font-normal" style = "color:rgb(114, 114, 114);font-size:15px;font-style:italic"> May 2023</small>
        <h5 style="font-family: 'Copenhagen Grotesk Nova Light', sans-serif; font-size:16px;">Building a Gibbs sampler to aggregate expert insights.</h5>
        <p style="font-family: 'Copenhagen Grotesk Nova Light', sans-serif; font-size:15px;">We present a comprehensive statistical framework for analyzing expert rankings of NFL quarterbacks. The approach utilizes latent regression models, specifically designed to handle the idiosyncrasies and biases inherent in expert evaluations. We derive and implement a Gibbs sampler in R, infering a consensus ranking from multiple experts, while accounting for missing data and heterogeneity in the expert opinions. The statistical method prioritizes the exploration of underlying patterns in the data over the application of rankings, offering a robust tool for similar analyses in other domains.</p>
        <p style="font-family: 'Copenhagen Grotesk Nova Light', sans-serif; font-size:15px;">Links: <a href="https://github.com/your-link-here">GitHub</a>, <a href="https://your-website.com">Project Page</a></p>
      </div>
      <img src="assets/img/projects/project1/cover.png" alt="Dispict preview image" class="border" width="250" style="position:relative; top:20px">
    </div>
    
    
    
</body>
</html>


