---
layout: default
---

<!-- about.html -->
      <div class="post", style = "position:relative;">

        <article>
          {% if page.profile -%}
          <br /><br />
          <div style = "position:relative;", class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
              <div class="address">
                {{ page.profile.address }}
              </div>
            {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons" style="position:relative; margin-top: -30px;">
                {% include social.html %}
              </div>
            </div>
          {%- endif %}

          </div>
          {%- endif %}

          <header>
            <h1 class="post-title" style = "position:relative;">
              <span class="font-weight-bold" style="font-size:30px;">I'm Ahmad Abdel-Azim.</span>
            </h1>
            <p class="desc" style = "position:relative;">{{ page.subtitle }}</p>
          </header>
          
          <div class="clearfix"></div> 
          <hr style = "position:relative;">

          <div class="clearfix" style = "position:relative;">
            {{ content }}
          </div>

          <!-- Experience -->
          <br />
          <h3><a href="{{ '/cv/' | relative_url }}" style="color: inherit; position:relative;">Experience</a></h3>
          <div style="position:relative; top:-20px">{%- include experience.html %}</div>
          

          <!-- Selected projects -->
          {% if page.selected_projects -%}
            <br />
            <h2>Selected <a href="{{ '/projects/' | relative_url }}" style="color: inherit;">Projects</a></h2>
            {%- include selected_projects.html %}
          {%- endif %}

        </article>

</div>


